@typeparam TItem

<div class="card-list">
    @foreach (var item in Items ?? Enumerable.Empty<TItem>())
    {
        <div class="card-item">
            @if (ChildContent != null)
            {
                @ChildContent(item)
            }
        </div>
    }
</div>

@code {
    [Parameter] public RenderFragment<TItem>? ChildContent { get; set; }
    [Parameter] public IEnumerable<TItem>? Items { get; set; }
}
