@page "/login"

<PageTitle>Login</PageTitle>
<h3>Login</h3>

<div class="loginContainer">
    <label>Username: </label>
    <input type="text" id="username" name="username" />
    <br>
    <label>Password: </label>
    <input type="text" id="password" name="password" />
</div>
<div>
    <br>
    <button type="submit">Submit</button>
</div>