@page "/measurements"

<h3>Measurements</h3>

<PageTitle>Measurements</PageTitle>

<label>Coffee: </label>
<input type="text" id="coffee" name="coffee"/>
<br />
<label>Water: </label>
<input type="text" id="water" name="water" />
<br />
<button>Submit</button>

@code {

}
