@page "/statistics"

<h3>Statistics</h3>

<PageTitle>Statistics</PageTitle>

<div class="stats">
    <label>Espresso: 69 Ordered</label>
    <br />
    <label>Pumpkin Spice Latte: -7.5 Ordered</label>
    <br />
    <label>Black Coffee: 420 Ordered</label>
</div>
@code {

}
