@page "/statistics"
@rendermode InteractiveServer
@inject KaffeApiClient KaffeApiClient
@using KaffeMaskineProjekt.DTO
@using KaffeMaskineProjekt.DomainModels

<h3>Statistics</h3>

<PageTitle>Statistics</PageTitle>

<div class="stats">
    <ul>
        @foreach (var recipe in recipes)
        {
            var count = recipeCounts.TryGetValue(recipe.Id, out var c) ? c : 0;
            <li>
                <p>
                    @recipe.Name - Ordered @count times
                </p>
            </li>
        }
    </ul>
</div>

@code {
    private List<RecipeDTO> recipes = new();
    private List<Order> orders = new();
    private Dictionary<int, int> recipeCounts = new();

    protected override async Task OnInitializedAsync()
    {
        recipes = await KaffeApiClient.GetRecipesAsync();
        orders = await KaffeApiClient.GetOrdersAsync();

        recipeCounts = orders
            .Where(o => o.Recipe != null)
            .GroupBy(o => o.Recipe.Id)
            .ToDictionary(g => g.Key, g => g.Count());
    }
}
